.wrapper{
    height: auto;
    width: 100%;
    background-color: blueviolet;
    box-shadow: 0 5px 10px 3px black;
    color: white;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.wrapper:hover{
    padding-top: 48.5px;
    padding-bottom: 48.5px;
}



